@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

.logo {
    display: flex;
}

.logo__title {
    font-family: 'Lato';
    margin-left: 20px;
}

.logo__site-name_colored {
    color: #f77462;
    font-weight: lighter;
    margin-left: 0.5ex;
}

.logo__picture {
    height: 46px;
    width: 54px;
    align-self: center;
}

.logo__caption {
    color: #929292;
    font-size: small;
}

.logo__site-name {
    margin: 1px auto;
}