.form {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 29px 30px;
}

.form__input {
    width: 310px;
    margin-bottom: 20px;
}

.form__input:first-child {
    margin-top: 29px;
}

.form__paragraph {
    margin: 0 0 26px;
}

.form__button {
    min-height: 41px;
    min-width: 100px;
}

.form__button-arrow {
    margin-left: 5px;
}

.form__input_high { /* TODO: Or it must be a modifier of input (kind of input_high)? */
    padding-top: 10px;
    padding-bottom: 10px; 
    resize: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 82px;
}
