.articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.articles__heading {
    margin: 0 0 30px;
    width: 600px;
}

.articles__contents-wrapper {
    display: flex;
    justify-content: space-between;
}

.articles__text-wrapper {
    width: 770px; /* TODO: This hardcoded value equals items-panel__column-wrapper * 2. A better solution for this kind of wrap? */
}

.articles__column-wrapper {
    width: 370px;
}

.articles__colored-text {
    font-family: 'Lato', sans-serif;
    color: #e84c3d;
    font-size: 20px;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 12px 0;
    margin-bottom: 29px;
    line-height: 24px;
}

.articles__subheading {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #202628;
    font-weight: bold;
    margin: 0 0 14px;
    line-height: 24px;
}

.articles__paragraph {
    margin-bottom: 38px;
}

.articles__button {
    min-height: 37px;
    min-width: 70px; 
}

.articles__image {
    width: 355px;
    height: 355px;
}
