.heading {
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
    font-size: 21px;
    letter-spacing: 0.04em;
    color: #202628;
    text-transform: uppercase;
}

.heading_color_white {
    color: white;
}

.heading_style_items-panel {
    font-size: 21px;
    color: #202628;
}

.heading_style_form {
    font-size: 21px;
    color: white
}

.heading_style_column-heading {
    font-size: 21px;
    color: #202628;
}

.heading_style_info {
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* TODO: Size unknown */
    color: #e84c3d;
    font-weight: bold;
}