.round-pannel {
    border-radius: 50%;
    box-sizing: border-box;
}

.round-pannel_position_left {
    float: left;
    margin-right: 30px;
}

.round-pannel_size_small {
    width: 43px;
    height: 43px;
}

.round-pannel_size_medium {
    width: 70px;
    height: 70px;
}

.round-pannel_size_huge {
    width: 355px;
    height: 355px;
}

.round-pannel_color_red {
    background-color: #e84c3d;
}

.round-pannel_color_black {
    background-color: #202628;
}

.round-pannel__rocket {
    padding: 21px 22px;
}

.round-pannel__shield {
    padding: 21px 25px;
}

.round-pannel__fire-extinguisher {
    padding: 21px 24px;
}

.round-pannel__men {
    padding: 0 4px;
}

.round-pannel__facebook {
    padding: 8px 14px;
}

.round-pannel__linkedin {
    padding: 8px 10px;
}

.round-pannel__twitter {
    padding: 8px 9px;
}