.text_color_light {
    color: #e7e7e7;
}

.text_color_red {
    color: #e84c3d;
}

.text_color_dark {
    color: #202628;
}

.text_color_white {
    color: white;
}

.text_color_grey {
    color: #767c7e;
}