.footer {
    background-color: #202628;
    padding-top: 80px;
    padding-bottom: 82px;
}

.footer__credits {
    display: inline-block;
}

.footer__credits::after {
    content: '/';
}

.footer__credits:last-of-type::after {
    content: '';
}

.footer__navigation {
    margin-bottom: 20px;
}

.footer__round-panel {
    margin-right: 20px;
}

.footer__round-panel:last-of-type {
    margin-right: 0;
}

.footer__content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}