.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    min-height: 80px;
    min-width: 75px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13px;
    color: #e7e7e7;
    text-decoration: none;
    letter-spacing: 0.04em;
}

.navbar__item:hover {
    background-color: #e84c3d;
}
