.navbar {
    list-style-type: none;
}

.navbar__item {
    float: left; /* TODO: Legacy technique? Better use flex? */
}

.navbar__item_style_block {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    min-height: 80px;
    min-width: 75px;
    text-transform: uppercase;
}

.navbar__item_style_block:hover {
    background-color: #e84c3d;
}

.navbar__link {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin-right: 40px;
}

.navbar__link::after {
    content: '/';
    color: #515759;
    position: relative;
    left: 20px; /* Half the size of margin-right */
}

.navbar__link:last-of-type::after {
    content: '';
}