.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__content, .menu__content:focus, .menu__content:active {
    text-decoration: none;
    color: #787878;
}

.menu__content:hover {
    color: #6dc5dd;
}

.menu__item {
    font-weight: bolder;
    display: inline;
    padding: 0px 20px;
    border-right: 1px solid #e7e7e7;
}

.menu__item:last-child {
    border-right: none;
}