.carousel {
    background-image: url("../../static/women.jpg");
    background-repeat: no-repeat;
    height: 560px;
    display: flex;
    align-items: flex-end;
}

.carousel__content-block {
    display: block;
    margin-bottom: 61px;
}

.carousel__button {
    box-sizing: border-box;
    padding: 24px 8px 24px 16px;
    font-size: 18px;
    height: 70px;
    width: 34px;
}

.carousel__button-left {
    margin-right:-3px; /*TODO*/
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    background: url("../../icons/angle-left.svg") center no-repeat
}

.carousel__button-right {
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    background: url("../../icons/angle-right.svg") center no-repeat
}

.carousel__text {
    margin-bottom: 0.5em;
}

.carousel__text:not(:first-of-type) {
    margin-top: 0;
}

.carousel__text-with-line {
    overflow: hidden;
}

.carousel__text-with-line::after {
    content: "";
    background-color: #e7e7e7;
    display: inline-block;
    height: 2px;
    width: 252px;
    position: relative;
    vertical-align: middle;
    left: 16px;
    bottom: 3px;
}