.pictured-article {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.pictured-article__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 63px;
    height: 63px;
    border-radius: 63px;
}

.pictured-article__content {
}

.pictured-article_image_flag {
    width: 31px;
    height: 45px;
}

.pictured-article_image_home {
    width: 41px;
    height: 43px;
}

.pictured-article_image_camera {
    width: 42px;
    height: 34px;
}